<?xml version='1.0' encoding='utf-8'?>
<widget id="com.icerdesign.pawket" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Pawket</name>
    <icon src="icon.png" platform="android" width="57" height="57" density="mdpi" />
    <icon src="icon.png" platform="ios" width="57" height="57" density="mdpi" />
    <description>An open-source and secure offline wallet for Chia</description>
    <author email="support@sutu.tech" href="https://www.pawket.app/">
        Sutu Labs
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost"/>
    <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
        <string>Pawket requires access to your phone's camera</string>
    </config-file>
    <config-file parent="UIUserInterfaceStyle" platform="ios" target="*-Info.plist">
        <string>Light</string>
    </config-file>
    <config-file parent="ITSAppUsesNonExemptEncryption" platform="ios" target="*-Info.plist">
        <false/>
    </config-file>
</widget>
